{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<title>Dashboard</title>
    <div class="container">
        <h1 class = "text-center pt-3">Dashboard</h1>
        <br/>
        <br/>
        <h2>Your Suppliers</h2>
        <hr />


<!-- Dropdown Card Example -->
{% for supplier in object_list %}
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <a href="{% url 'shop:detail' supplier.slug %}"><h6 class="m-0 font-weight-bold text-primary">{{ supplier.supplier_name }} (status:{{ supplier.status}})</h6> </a>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        {% comment %} <div class="dropdown-header">more:</div> {% endcomment %}
                        <a class="dropdown-item" href="{% url 'shop:detail' supplier.slug %}">Detail</a>
                        <a class="dropdown-item" href="{% url 'shop:supplier_edit' supplier.slug %}">Edit</a>
                        <a class="dropdown-item" href="{% url 'shop:supplier_products' supplier.slug %}">See Products</a>
                        <a class="dropdown-item" href="{% url 'order:order_item' supplier.slug %}">See Orders</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
        <p><img class="img-fluid " src= {{ supplier.image.url }} height=200 width=300/></p>
                {{ supplier.description }}
        <div>created at : {{supplier.created_date}}</div>
            </div>
        </div>
        {% endfor %}

        {% comment %} {{supplier.created_date}} {% endcomment %}
        {% comment %} {% url 'postdetail' supplier.pk %} {% endcomment %}
        <hr/>
        <br/>
        <br/>

    </div>

               
{% endblock content %}
