{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<title>Product List</title>
    <div class="container">
        <h1 class = "text-center pt-3">List of Products</h1>
        <br/>
        <br/>
        <h2>Products</h2>
        <hr />
<!-- Dropdown Card Example -->
{% for product in object_list %}
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <a href="{% url 'shop:product_detail' product.supplier.slug product.slug %}"><h6 class="m-0 font-weight-bold text-primary">{{ product.name }} (availability:{{ product.is_available}})</h6></a>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'shop:product_detail' product.supplier.slug product.slug %}">Detail</a>
                        <a class="dropdown-item" href="{% url 'shop:product_edit' product.supplier.slug product.slug %}">Edit</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
        <p><img class="img-fluid " src= {{ product.image.url }} height=200 width=300/></p>
                {{ product.description }}
        <div>created at : {{product.created_date}}</div>
            </div>
        </div>
        {% endfor %}
        <hr/>
        <br/>
        <br/>

    </div>

               
{% endblock content %}
