{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<title>My Profile</title>

    <!-- Begin Page Content -->
                {% comment %} <div class="container-fluid"> {% endcomment %}
<h2>Edit {{product.name}} </h2>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
        <br><br>
        <a href="{% url 'shop:dashboard' %}">Back</a>
    </form>
               
{% endblock content %}
