{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<title>{{supplier.supplier_name}}Supplier Customers</title>

<div class="container">

 <!-- DataTales Example -->

    <h1 class = "text-center pt-3">{{supplier.supplier_name}}'s Customers</h1>

    <br/>

    <p class="mb-4"></p>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>user name</th>
                                <th>last order</th>
                                <th>order count</th>
                                <th>purchase price</th>
                                <th>purchase quantity</th>
                                <th>Avator</th>
                            </tr>
                        </thead>
                        </tfoot>
                        <tbody>
                        {% for order in customer_order %}

                            <tr>
                                <td>{{order.order__customer__customer_username}}</td>
                                <td>{{order.last_order}}</td>
                                <td>{{order.order_count}}</td>
                                <td>{{order.purchase_price}}</td>
                                <td>{{order.purchase_quantity}}</td>
                                <td>
                                <img width="40" height="40"
                                                    src="/media/{{ order.order__customer__custom_user__image }}" alt="">
                                </td>
                            </tr>
                    {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

</div>



{% endblock content %}